.card
{
    background: linear-gradient(to right, #89DCFF 0% , #89FF95 100%);
    width: 100%;
    height:250px;
    display: flex;
    flex-direction: column;
}
.leftimage
{
    height:100px;
    width:100px;
}
.leftimage>img
{
    height:100%;
    width:100%;
    object-fit:contain;
    border-radius:50%;
}
.right5
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* align-items:left; */
    margin:10px;
}
.card-body
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}